@tailwind base;
@tailwind components;
@tailwind utilities;







/* Scrollbar Track */
::-webkit-scrollbar {
    width: 5px;
    /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the scrollbar handle */
    border-radius: 2px;
    /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e1dede;
    /* Color of the scrollbar handle on hover */
}

/* Button */
::-webkit-scrollbar-button {
    display: none;
    /* Hide the scrollbar buttons (arrows) */
}

/* Corner */
::-webkit-scrollbar-corner {
    background: transparent;
    /* Color of the scrollbar corner */
}



.carousel .thumbs-wrapper {
    display: none;
}